.page {
  --background: #0a0618;
  --foreground: #0a0618;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans), sans-serif;
  background-color: var(--background);
}

.main {
  display: flex;
  gap: 10px;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--foreground);
  padding: 120px 60px;
}